<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="https://nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      internalLogLevel="Warn"
      internalLogFile="internal-nlog.txt">

  <!-- enable asp.net core layout renderers -->
  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>

  <variable name="logDir" value="${environment:APP_LOG_DIR:whenEmpty=${basedir:fixtempdir=true}/logs}"/>
  <variable name="archiveDir" value="${environment:APP_LOG_ARCHIVE_DIR:whenEmpty=${logDir}/archives}"/>

  <variable name="log_stamp" value="${cached:${date:format=yyyy-MM-dd HH_mm_ss_ffff}}"/>
  <variable name="applog_file" value="applog_${gdc:item=Application}"/>
  <variable name="request_file" value="request_${gdc:item=Application}"/>

  <!-- the targets to write to -->
  <targets>

    <target xsi:type="Console" name="requestConsole">
      <layout xsi:type="JsonLayout">
        <attribute name="_logtype" layout="request" />
        <attribute name="RequestDateUtc" layout="${event-properties:RequestDateUtc:format=o}" />
        <attribute name="ResponseDateUtc" layout="${event-properties:ResponseDateUtc:format=o}" />
        <attribute name="TraceIdentifier" layout="${event-properties:TraceIdentifier}" />
        <attribute name="Method" layout="${event-properties:Method}" />
        <attribute name="Protocol" layout="${event-properties:Protocol}" />
        <attribute name="Scheme" layout="${event-properties:Scheme}" />
        <attribute name="Host" layout="${event-properties:Host}" />
        <attribute name="Port" layout="${event-properties:Port}" />
        <attribute name="LocalPort" layout="${event-properties:LocalPort}" />
        <attribute name="Path" layout="${event-properties:Path}" />
        <attribute name="Query" layout="${event-properties:Query}" />
        <attribute name="Referer " layout="${event-properties:Referer}" />
        <attribute name="UserAgent " layout="${event-properties:UserAgent}" />
        <attribute name="RemoteIpAddress" layout="${event-properties:RemoteIpAddress}" />
        <attribute name="StatusCode" layout="${event-properties:StatusCode}" />
        <attribute name="ContentLength" layout="${event-properties:ContentLength}" />
        <attribute name="Elapsed" layout="${event-properties:Elapsed}" />
      </layout>
    </target>

    <target xsi:type="File" name="requestFile"
        fileName="${logDir}/${request_file}_${log_stamp}.json"
        archiveFileName="${archiveDir}/${request_file}_{#}.json"
        archiveDateFormat="yyyy-MM-dd HH_mm_ss"
        archiveNumbering="Date"
        archiveEvery="Day"
        maxArchiveDays="90"
        concurrentWrites="false"
        keepFileOpen="false"
        encoding="utf-8">
      <layout xsi:type="JsonLayout">
        <attribute name="RequestDateUtc" layout="${event-properties:RequestDateUtc:format=o}" />
        <attribute name="ResponseDateUtc" layout="${event-properties:ResponseDateUtc:format=o}" />
        <attribute name="TraceIdentifier" layout="${event-properties:TraceIdentifier}" />
        <attribute name="Method" layout="${event-properties:Method}" />
        <attribute name="Protocol" layout="${event-properties:Protocol}" />
        <attribute name="Scheme" layout="${event-properties:Scheme}" />
        <attribute name="Host" layout="${event-properties:Host}" />
        <attribute name="Port" layout="${event-properties:Port}" />
        <attribute name="LocalPort" layout="${event-properties:LocalPort}" />
        <attribute name="Path" layout="${event-properties:Path}" />
        <attribute name="Query" layout="${event-properties:Query}" />
        <attribute name="Referer " layout="${event-properties:Referer}" />
        <attribute name="UserAgent " layout="${event-properties:UserAgent}" />
        <attribute name="RemoteIpAddress" layout="${event-properties:RemoteIpAddress}" />
        <attribute name="StatusCode" layout="${event-properties:StatusCode}" />
        <attribute name="ContentLength" layout="${event-properties:ContentLength}" />
        <attribute name="Elapsed" layout="${event-properties:Elapsed}" />
      </layout>
    </target>

    <target xsi:type="Console" name="applogConsole">
      <layout xsi:type="JsonLayout">
        <attribute name="_logtype" layout="applog" />
        <attribute name="Date" layout="${date:universalTime=True:format=o}" />
        <attribute name="Level" layout="${level}" />
        <attribute name="Message" layout="${message}" />
        <attribute name="Exception" layout="${exception:format=ToString}" />
        <attribute name="TraceId" layout="${aspnet-traceidentifier:IgnoreActivityId=true}" />
        <attribute name="Url" layout="${aspnet-request-url:IncludeQueryString=true}" />
        <attribute name="Logger" layout="${logger:shortName=true}" />
        <attribute name="Thread" layout="${threadid}" />
        <attribute name="Server" layout="${machinename}" />
        <attribute name="Application" layout="${gdc:item=Application}" />
        <attribute name="Version" layout="${gdc:item=Version}" />
      </layout>
    </target>

    <target xsi:type="File" name="applogFile"
        fileName="${logDir}/${applog_file}_${log_stamp}.json"
        archiveFileName="${archiveDir}/${applog_file}_{#}.json"
        archiveDateFormat="yyyy-MM-dd HH_mm_ss"
        archiveNumbering="Date"
        archiveEvery="Day"
        maxArchiveDays="90"
        concurrentWrites="false"
        keepFileOpen="false"
        encoding="utf-8">
      <layout xsi:type="JsonLayout">
        <attribute name="Date" layout="${date:universalTime=True:format=o}" />
        <attribute name="Level" layout="${level}" />
        <attribute name="Message" layout="${message}" />
        <attribute name="Exception" layout="${exception:format=ToString}" />
        <attribute name="TraceId" layout="${aspnet-traceidentifier:IgnoreActivityId=true}" />
        <attribute name="Url" layout="${aspnet-request-url:IncludeQueryString=true}" />
        <attribute name="Logger" layout="${logger:shortName=true}" />
        <attribute name="Thread" layout="${threadid}" />
        <attribute name="Server" layout="${machinename}" />
        <attribute name="Application" layout="${gdc:item=Application}" />
        <attribute name="Version" layout="${gdc:item=Version}" />
      </layout>
    </target>

  </targets>

  <!-- rules to map from logger name to target -->
  <rules>

    <!--Skip non-critical Microsoft logs and so log only own logs-->
    <logger name="Microsoft.*" maxlevel="Info" final="true" />

    <logger name="AspNetBox.RequestLoggingMiddleware" writeTo="requestConsole,requestFile" final="true" />

    <logger name="*" minlevel="Trace" writeTo="applogConsole,applogFile" />
  </rules>
</nlog>